.container{
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, .1);
  backdrop-filter: blur(100px);
  border-bottom: 2px solid rgba(255, 255, 255, .2);
}

.container::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
  transition: .5s;
}
.container:hover::before {
  left: 100%;
}

.divbtn{
    display: flex;
    justify-content: space-around;
    /* background-color: green; */
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-right: 20px;

}
.divbtn a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  transition: .3s;
}
.divbtn a:hover {
  color: #f00;
}
.divbtn a {
  position: relative;
  font-size: 1.1em;
  color: #333;
  text-decoration: none;
  padding: 10px 20px 10px;
  transition: .5s;
}
.divbtn a:hover {
  color: #0ef;
}
.divbtn a span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-bottom: 2px solid rgb(14, 43, 45);
  border-radius: 15px;
  transform: scale(0) translateY(50px);
  opacity: 0;
  transition: .5s;
}
.divbtn a:hover span {
  transform: scale(1) translateY(0);
  opacity: 1;
}

.link.active {

  position: relative;
  font-size: 1.1em;
  color: #333;
  text-decoration: none;
  padding: 10px 20px 10px;
  transition: .5s;
}

.link.active span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-bottom: 2px solid rgb(14, 43, 45);
  border-radius: 15px;
  transform: scale(0) translateY(50px);
  opacity: 0;
  transition: .5s;
}
