.container{
    background: transparent;
    backdrop-filter: blur(10px);
    border-radius: 8px;
    border: 1px solid rgba(153, 153, 153, 0.361);
    width: 340px;
    height: 290px;
}
.cardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px;
    gap: 20px;
}
.cardContainer h1{
    color: black;
    font-size: large;
}
.cointainerimage{
    width: 340px;
    height: 200px;
    overflow: hidden;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
}
.cointainerimage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
